#contenedor {
	width: 100%;
	max-width: 1920px;
}

* {
	box-sizing: border-box;
}

/*BODY*/
body {
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
	line-height: 1.2;
}

h1, h2, h3  {
	font-family: "Arvo", serif;
}

h1 span {
	font-size: 3rem;
}

p, li {
	font-family: "Roboto Mono", monospace;
	font-size: 0.8rem;
}
/*BODY*/

/*HEADER*/
header {
	width: 70%;
	border: 3px solid steelblue;
	margin: auto; 
	padding: 0;
	text-align: center;
	background-color: rgb(225, 225, 225, 0.9);
}

header p em {
	padding: 3px;
	background-color: steelblue;
	color: white;
    text-align: center;
}

nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;
	background-color: rgb(255, 255, 255, 0.6);
}

nav li {
	display: inline-block;
	margin: 1rem;
	padding: 0.8rem;
}

nav li a {
	margin: 0.8rem;
	padding: 0.8rem;
}

nav li a:link {
	color: black;
	border: 3px solid steelblue;
}

nav li a:visited {
	color: #256d85;
	border: 3px solid #256d85;
}

nav li a:hover {
	color: steelblue;
	border: 3px solid steelblue;
}

nav li a:active {
	color: steelblue;
	border: 3px solid steelblue;
}
/*HEADER*/

/*MAIN*/

/*INDEX*/
.columnas {
    display: flex;
}

.columna {
    width: 32%;
    margin: 0 0.66%;
    margin-top: 1rem;
}

.columna img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#img1 {
    border: 3px solid #4a8160;
}

#img2 {
    border: 3px solid indianred;
}

#img3 {
    border: 3px solid #e3b958;
}

section {
    background-color: rgb(255, 255, 255, 0.9);
    border: 3px solid steelblue;
    padding: 1rem;
    margin-bottom: 1rem;
}

#art1 h2 span, #art1 p span {
    background-color: #4a8160;
    font-weight: bold;
}

#art2 h2 span, #art2 p span {
    background-color: indianred;
    font-weight: bold;
}

#art3 h2 span, #art3 p span {
    background-color: #e3b958;
    font-weight: bold;
}
/*INDEX*/

/*GALERIA*/

.columna-grande {
    width: 58%;
    margin: 1%;
}

.columna-chica {
    width: 38%;
    margin: 1%;
}

#art6 li::marker {
	color: steelblue;
}

/*GALERIA*/

/*MAIN*/

/*FOOTER*/
footer {
	border: 3px solid steelblue;
	background-color: whitesmoke;
	text-align: center;
	margin-top: 20px;
}

footer p {
	font-size: 1.5rem;
}

footer a {
	color: #06283d;
	background-color: #49b7fc;
}
/*FOOTER*/