#contenedor {
	width: 100%;
	max-width: 1920px;
}

* {
	box-sizing: border-box;
}

/*----------------------------------------------BODY*/
body {
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: "Arvo", serif;
}

h1 span {
	font-size: 3rem;
}

p, li {
	font-family: "Roboto Mono", monospace;
	font-size: 0.8rem;
}
/*----------------------------------------------BODY*/

/*----------------------------------------------HEADER*/
header {
	width: 70%;
	border: 3px solid steelblue;
	margin: auto; 
	padding: 0;
	text-align: center;
	background-color: rgb(225, 225, 225, 0.9);
}

header p em {
	padding: 3px;
	background-color: steelblue;
	color: white;
    text-align: center;
}

nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;
	background-color: rgb(255, 255, 255, 0.6);
}

nav li {
	display: inline-block;
	margin: 1rem;
	padding: 0.8rem;
}

nav li a {
	margin: 0.8rem;
	padding: 0.8rem;
}

nav li a:link {
	color: black;
	border: 3px solid steelblue;
}

nav li a:visited {
	color: #256d85;
	border: 3px solid #256d85;
}

nav li a:hover {
	color: steelblue;
	border: 3px solid steelblue;
}

nav li a:active {
	color: steelblue;
	border: 3px solid steelblue;
}
/*--------------------------------------------HEADER*/

/*--------------------------------------------INDEX*/
.columnas {
    display: flex;
}

.columna {
    width: 32%;
    margin: 0 0.66%;
    margin-top: 1rem;
}

.columna img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#img1 {
    border: 3px solid #4a8160;
}

#img2 {
	margin-top: 25px;
    border: 3px solid indianred;
}

#img3 {
	margin-bottom: 25px;
    border: 3px solid #e3b958;
}

section {
    background-color: rgb(255, 255, 255, 0.9);
    border: 3px solid steelblue;
    padding: 1rem;
    margin-bottom: 1rem;
	text-align: justify;
}

#art1 h2 span, #art1 p span {
	background-color: #4a8160;
    font-weight: bold;
}

#art2 h2 span, #art2 p span {
    background-color: indianred;
    font-weight: bold;
}

#art3 h2 span, #art3 p span {
    background-color: #e3b958;
    font-weight: bold;
}

#curioso {
	text-align: center;
	font-weight: bold;
}
#curioso h2 span, #curioso p span {
	color: #06283d;
	background-color: #49b7fc;
}

#dato, #boton-dato {
	text-align: center;
	font-weight: bold;
}

#boton-dato {
	margin-top: 0;
	margin-bottom: 20px;
}
#boton-dato span {
	padding: 10px;
	border: 3px solid steelblue;
	text-decoration: underline;
	text-decoration-color: solid steelblue;
}

#dato {
	padding-top: 10px;
}
/*--------------------------------------INDEX*/

/*G-----------------------------------GALERIA*/
.columna-grande {
    width: 58%;
    margin: 1%;
	text-align:center;
}

.columna-chica {
    width: 38%;
    margin: 1%;
}

#art4 h2 span, #art5 h2 span, #art6 h2 span {
	color: #06283d;
	background-color: #49b7fc;
	font-weight: bold;
}

#art5 li::marker {
	color: #49b7fc;
}

#art5 li {
	font-size: 1.2rem;
}

/*PARA CONSTRUIR EFECTIVAMENTE ESTA PARTE DEL CÓDIGO CSS UTILICÉ IA*/
#galeria1 {
    display: flex;
	justify-content: center;
    align-items: center;
}

.info-obra {
    width: 50%;
}

.info-obra h2 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.info-obra p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

#boton-obra span {
	font-weight: bold;
	background-color: #49b7fc;
	padding: 5px;
	border: 3px solid steelblue;
	text-decoration: underline;
	text-decoration-color: solid steelblue;
}

#boton-tema span {
	font-size: 1rem;
	font-weight: bold;
	background-color: #49b7fc;
	padding: 5px;
	border: 3px solid steelblue;
	text-decoration: underline;
	text-decoration-color: solid steelblue;
}

.info-obra h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#año {
	padding-bottom: 10px;
}

#color {
	font-size: 0.8rem;
	color: gray;
	padding-top: 10px;
}
#img4 {
    width: 50%;
    height: auto;
	margin-top: 20px;
	margin-right: 50px;
	border: 3px solid #49b7fc;
}
/*-----------------------------------------------------GALERIA*/

/*------------------------------------------FOOTER*/
footer {
	border: 3px solid steelblue;
	background-color: whitesmoke;
	text-align: center;
	margin-top: 20px;
}

footer p {
	font-size: 1.5rem;
}

footer a {
	color: #06283d;
	background-color: #49b7fc;
}
/*------------------------------------------FOOTER*/